
<section id="banner" >
	<div class="container">
		 <div class="col">
          <div class="header-front">
            <div class="head-title">A <span class="ht">Friend</span> is a person with whom you share a close, supportive <span class="ht">relationship.</span>
           <%= image_tag "first.png", class:"front-portion-img img-rounded",alt:"Responsive image" %>
            </div>
          </div>
        </div>
	</div>

</section>