<h1>Editing friend</h1>

<%= render "form", friend: @friend %>
<br>
<div>
  <%= link_to "Show", @friend, class:"btn btn-primary" %> |
  <%= link_to "Back", friends_path , class:"btn btn-dark"%> |
  <%= link_to 'delete', @friend ,
             data: {turbo_method: :delete, turbo_confirm: :"Are You Sure?"} ,class:"btn btn-outline-danger "%>
</div>
