<div class="table-responsive ">  
  <h2>Friends List</h2>
  <table class="table table-bordered  table-striped table-hover">
    <thead>
      <tr>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      <% @user.friends.each do|friend| %>
        <tr>
          <td><%=link_to friend.first_name, friend_path(friend) %></td>
        </tr>  
      <% end %>
    </tbody>
  </table>
    <%= paginate @friends, window: 2 %>
</div>


