#nav-bar{
  position: sticky;
  top: 0;
  z-index: 10;
  background-color:mediumpurple ;
  font-weight: 60px;
  padding: 12px;

}

.header-front{
    position: relative;
    margin-top: 50px;
  border: 1px solid white;
  margin-bottom: 100px;
}
.as{
  margin-left: 20px;
}
}
.front-portion-img{
  width: 400px;
  position: absolute;
  top: 10px;
  right: 0;
}

.head-title{
  font-weight: 200px;
  font-size: 55px;
  margin-bottom: 100px;
  width: 600px;
  font-family: fantasy;
}

footer {

   position: relative;
   bottom: 0;
    width:100%;
  }
.a-primary{
    color:white;
  }
.a-primary:hover{
    color: purple;
  }

.ht{
  color:purple;
}
.background-image-sec{
  background: url('back.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 70px;

}

.card-img-top{
  image-orientation:;

}
.jumbo-tron{
  position: relative;
  width: 70rem ;
  height: 400px;
}
.jumbo-data{
  position: absolute;
  top: 80px;
  right: 100px;
}
.jumbo-image{
  position: absolute;
  top: 0;
  left: 0;
}
.image{
    width: 340px;
    height: 400px;
}

.parent{
  border: 1px solid black;
  margin: 1rem;
  padding: 2rem 2rem;
  text-align: center;
}
.child1{
/*  display: inline-block;*/
  border: 1px solid red;
  padding: 1rem 1rem;
/*  vertical-align: middle;*/
}
button{
  border-radius: 40px;
}

.Signup{
  background-image: url('asdf.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
.Signup1{
   background-image: url('moon-night-desert-4k-8i.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.card-header123{
  margin: 30px;
  border: 2px solid white;
  border-radius: 20px;
  background: transparent;
  backdrop-filter: blur(5px);
  margin-bottom: 40px;
  font-family:system-ui;;
  font-weight:bolder;
}
/*----------------Banner section----------------------*/
.email-text{
  color: black;
}

#banner{
  background-image: liner-gradient(to right, #a517ba,#5f1782);
}
.promo-title{
  font-weight: 600;
  font-size: 40px;
  margin-top: 100px;
}

/*--------------------------------------dropdown for signout --------------------------*/

.image-dropdown{
  position: relative;
  display: inline-block;
  margin-right: 35px;
  margin-top: 8px;
  margin-bottom: 10px;
}

.dropdown-data{
  display: none;
  position: absolute;
  min-width: 200px;
  right: 0;  
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  color: white;
  font-weight: 20px;
  z-index: 1;
  float: right;
  border-radius: 10px;
  background-color: whitesmoke;


}

.sign-out-link{
  padding: 16px;
  font-size: 16px;
}

.dropdown-data li{
  color: black;
  padding: 12px 16px;
  text-decoration: none;
/*  display: block;*/
  left: 20px;
}

.dropdown-data li:hover{

}

.image-dropdown:hover .dropdown-data{
display: block;

}

.image-dropdown:hover .sign-out-link{
  background-color: #red;
}

.image-signout{
  border-radius: 25px;

}
.image-signout1{
  border-radius: 25px;
  
}
.im{
  padding-left:30px;
  padding-top: 10pxa;
}
